html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #000000;
   text-decoration: none;
}
a:active
{
   color: #FF0042;
}
a:hover
{
   color: #FFC000;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#preloader
{
   background: #FFFFFF url("images/windmill.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_page2Image1
{
   margin: 0;
   vertical-align: top;
}
#page2Image1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 124px;
   height: 124px;
   vertical-align: top;
}
#wb_page2LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#page2LayoutGrid3
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#page2LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#page2LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#page2LayoutGrid3 > .row > .col-1
{
   float: left;
}
#page2LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#page2LayoutGrid3:before,
#page2LayoutGrid3:after,
#page2LayoutGrid3 .row:before,
#page2LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#page2LayoutGrid3:after,
#page2LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#page2LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_page2LayoutGrid3:focus
{
   -webkit-transform: rotate(0deg) scale(1.1,1.1) ;
   transform: rotate(0deg) scale(1.1,1.1) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#page2Button2
{
   line-height: 37px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #000000;
   border-radius: 50px;
   background-color: #008052;
   background: linear-gradient(to top, #008052 0%, #000000 100%);
   color: #FFFFFF;
   box-shadow: 0px 0px 5px #7F7F7F;
   font-family: "Reggae One";
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_page2LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#page2LayoutGrid4
{
   box-sizing: border-box;
   padding: 20px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#page2LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#page2LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#page2LayoutGrid4 > .row > .col-1
{
   float: left;
}
#page2LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#page2LayoutGrid4:before,
#page2LayoutGrid4:after,
#page2LayoutGrid4 .row:before,
#page2LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#page2LayoutGrid4:after,
#page2LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#page2LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#page2Button3
{
   line-height: 39px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #000000;
   border-radius: 50px;
   background-color: #000000;
   background: linear-gradient(to top, #000000 0%, #FF8000 100%);
   color: #FFFFFF;
   box-shadow: 0px 0px 5px #7F7F7F;
   font-family: "Reggae One";
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_page2Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 0px 0px;
   text-align: center;
}
#wb_page2Text2
{
   color: #000000;
   font-family: Courgette;
   font-weight: normal;
   font-size: 20px;
}
#wb_page2Text2 div
{
   text-align: center;
}
#wb_page2Text2
{
   display: block;
   margin: 20px 0px 0px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_page2Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_page2Text3
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
}
#wb_page2Text3 div
{
   text-align: center;
}
#wb_page2Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_page2Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_page2Text1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
}
#wb_page2Text1 div
{
   text-align: center;
}
#wb_page2Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_indexText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
}
#wb_indexText1 div
{
   text-align: center;
}
#wb_indexText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#indexLayer1
{
   background-color: transparent;
   background-image: url(images/TTEC_App_Background.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   padding: 0;
   margin: 0;
}
#indexLayer1
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
#wb_indexLayoutGrid2
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#indexLayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#indexLayoutGrid2 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#indexLayoutGrid2:before,
#indexLayoutGrid2:after,
#indexLayoutGrid2 .row:before,
#indexLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid2:after,
#indexLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#indexLayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_page2LayoutGrid2
{
   clear: both;
   position: fixed;
   left: 0;
   bottom: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#page2LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
}
#page2LayoutGrid2 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#page2LayoutGrid2 > .row > .col-1, #page2LayoutGrid2 > .row > .col-2, #page2LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#page2LayoutGrid2 > .row > .col-1, #page2LayoutGrid2 > .row > .col-2, #page2LayoutGrid2 > .row > .col-3
{
   float: left;
}
#page2LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#page2LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#page2LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#page2LayoutGrid2:before,
#page2LayoutGrid2:after,
#page2LayoutGrid2 .row:before,
#page2LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#page2LayoutGrid2:after,
#page2LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#page2LayoutGrid2 > .row > .col-1, #page2LayoutGrid2 > .row > .col-2, #page2LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_uid1
{
   color: #000000;
}
#wb_uid2
{
   color: #000000;
}
#wb_uid3
{
   color: #000000;
}
#indexLayer1
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 100%;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 14;
}
#page2Button2
{
   display: inline-block;
   width: 100px;
   height: 37px;
   z-index: 6;
}
#page2Button3
{
   display: inline-block;
   width: 103px;
   height: 39px;
   z-index: 5;
}
#wb_page2Image1
{
   display: inline-block;
   width: 124px;
   height: 124px;
   z-index: 10;
}
#indexLayer1-container
{
   width: 100%;
}
#wb_uid0
{
   color: #000000;
}
