body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #FF0042;
   text-decoration: none;
}
a:active
{
   color: #000000;
}
a:hover
{
   color: #FFC000;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#preloader
{
   background: #FFFFFF url("images/box.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_indexLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#indexLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#indexLayoutGrid1 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#indexLayoutGrid1:before,
#indexLayoutGrid1:after,
#indexLayoutGrid1 .row:before,
#indexLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid1:after,
#indexLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#indexLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#indexInlineFrame1
{
   border: 1px solid #0563C1;
   margin: 30px 0px 0px 0px;
}
#indexInlineFrame1
{
   display: block;
   float: left;
   width: 100%;
   height: 416px;
   vertical-align: top;
}
#wb_indexLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid2
{
   box-sizing: border-box;
   padding: 5px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#indexLayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#indexLayoutGrid2 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#indexLayoutGrid2:before,
#indexLayoutGrid2:after,
#indexLayoutGrid2 .row:before,
#indexLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid2:after,
#indexLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#indexLayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_indexIconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: animate-border 1000ms linear 0ms infinite normal both;
   animation: animate-border 1000ms linear 0ms infinite normal both;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_indexIconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#indexIconFont1
{
   height: 33px;
   width: 36px;
}
#indexIconFont1 i
{
   color: #FFC000;
   display: inline-block;
   font-size: 33px;
   line-height: 33px;
   vertical-align: middle;
   width: 27px;
}
#wb_indexIconFont1:hover i
{
   color: #337AB7;
}
#wb_indexText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText1 div
{
   text-align: center;
}
#wb_indexText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_indexLayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid3
{
   box-sizing: border-box;
   padding: 10px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid3 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#indexLayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#indexLayoutGrid3 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#indexLayoutGrid3:before,
#indexLayoutGrid3:after,
#indexLayoutGrid3 .row:before,
#indexLayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid3:after,
#indexLayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#indexLayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_indexText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText2 div
{
   text-align: center;
}
#wb_indexText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_indexLayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid4
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid4 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#indexLayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#indexLayoutGrid4 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#indexLayoutGrid4:before,
#indexLayoutGrid4:after,
#indexLayoutGrid4 .row:before,
#indexLayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid4:after,
#indexLayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#indexLayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_uid1
{
   color: #FF6600;
   font-family: "Arial";
   font-size: 19px;
}
#wb_indexIconFont1
{
   display: inline-block;
   width: 36px;
   height: 33px;
   text-align: center;
   z-index: 2;
}
#wb_uid0
{
   color: #FF6600;
   font-family: "Reggae One";
   font-size: 13px;
}
